# emacs配置忽略规则
eshell/
auto-save-list/
elpa/
emacs-config.el
emacs-custom.el
\#*.org#
\#*.el#
.#*.org
.#*.el
*.el~
*.org~
.cache/
.last-package-update-day
pyim/
projectile-bookmarks.eld
transient/
.lsp-session-v1
backups/
custom.el
emacs_backtrace.txt
history
ido.last
places
.vs/
